.app-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-y: scroll;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.toggle-theme {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  z-index: 100;
}

.side {
  width: 32rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
