.suggestion-pill {
  pointer-events: all;
  user-select: none;
  cursor: pointer;

  box-sizing: border-box;
  padding: 0.25rem 0.75rem 0.25rem 0.25rem;

  border-radius: 1rem;
  border: solid 1px #c6ab69;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: nowrap;

  transition: opacity 200ms;

  background-color: oklch(from white l c h / 0.25);

  [data-theme="dark"] & {
    background-color: oklch(from black l c h / 0.1);
  }

  &:hover {
    opacity: 0.5;
  }
}
