.tool-call-renderer {
  overflow: hidden;
  display: grid;
  grid-template-rows: 2rem 0fr;
  gap: 0.5rem;
  transition: grid 500ms;

  &.in-progress {
    grid-template-rows: 2rem 0fr;
  }

  &.executing {
    grid-template-rows: 2rem 1fr;
  }

  &.complete {
    grid-template-rows: 2rem 0fr;
  }

  &.open {
    grid-template-rows: 2rem 1fr;
  }
}

.summary-content {
  overflow: hidden;
  box-sizing: border-box;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  user-select: none;

  cursor: pointer;
  transition: background-color 100ms;
  border-radius: 0.25rem;

  &:hover {
    background-color: oklch(from gray l c h / 0.075);
  }
}

.detail-content {
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  margin-left: 0.75rem;
  border-left: solid 1px oklch(from gray l c h / 0.25);

  .status-message {
    box-sizing: border-box;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    user-select: none;
  }

  .args-content {
    box-sizing: border-box;
    padding: 0.125rem;
    padding-left: 1rem;
    width: 100%;
    box-sizing: border-box;
  }

  .result-content {
    box-sizing: border-box;
    padding: 0.125rem;
    padding-left: 1rem;
    width: 100%;
    box-sizing: border-box;
  }
}
