.tool-call-renderer {
  overflow: hidden;
  display: grid;
  grid-template-rows: 2rem 0fr 0fr;
  gap: 0.5rem;
  transition: grid 200ms ease-in-out 100ms;

  &.open {
    grid-template-rows: 2rem 1fr 0fr;
  }

  &.requires-approval {
    grid-template-rows: 2rem 1fr 4rem;
  }
}

.summary-content {
  overflow: hidden;
  box-sizing: border-box;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  user-select: none;

  cursor: pointer;
  transition: background-color 100ms;
  border-radius: 0.25rem;

  &:hover {
    background-color: oklch(from gray l c h / 0.1);
  }
}

.detail-content {
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  margin-left: 0.75rem;
  border-left: solid 1px oklch(from gray l c h / 0.25);

  .status-message {
    box-sizing: border-box;
    margin-left: 0.75rem;
    padding: 0.25rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    user-select: none;

    &.foldable {
      cursor: pointer;
      transition: background-color 100ms;
      border-radius: 0.25rem;

      &:hover {
        background-color: oklch(from gray l c h / 0.1);
      }
    }
  }

  .chevron {
    transform-origin: center;
    transition: transform 200ms;

    &.open {
      transform: rotate(90deg);
    }
  }

  .args-content {
    box-sizing: border-box;
    padding: 0.125rem;
    padding-left: 1rem;
    width: 100%;
    box-sizing: border-box;

    display: grid;
    transition: grid 200ms ease-in-out 100ms;
    grid-template-rows: 0fr;

    &.open {
      grid-template-rows: 1fr;
    }
  }

  .result-content {
    box-sizing: border-box;
    padding: 0.125rem;
    padding-left: 1rem;
    width: 100%;
    box-sizing: border-box;

    display: grid;
    transition: grid 200ms ease-in-out 100ms;
    grid-template-rows: 0fr;

    &.open {
      grid-template-rows: 1fr;
    }
  }
}

.approval-button-container {
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 0.125rem;
  margin-block-start: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
