.user-message {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;

  .inner-container {
    max-width: 75%;

    .user-info {
      box-sizing: border-box;
      margin: 0;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.5rem;
      user-select: none;
    }

    .content {
      box-sizing: border-box;
      padding: 1rem;
      border-radius: 0.25rem;
      background-color: oklch(from #59a7b5 l c h / 0.05);
    }
  }
}
